@use "../utilities/variables";

footer{
   font-size: variables.$font-nf;
    background-color: variables.$backgr-nf;

    .logo-footer{
        width: 75px;
        height: auto;
        display: block;
        margin: auto;
    }
    .p-cuerpo{
        color: black;
        text-align: center;

    }
}