footer{
    background-color: rgb(32, 30, 30);
    .logo-footer{
        width: 75px;
        height: auto;
        display: block;
        margin: auto;
    }
    .p-cuerpo{
        color: black;
        font-size: 20px;
        text-align: center;

    }
}