

main{
    background-color: gray;

    p{
        text-align: center;
        text-justify: center;
    }
    .h-titulos{
        color: red;

    }
    .p-miticos{
        color: green;

    }
    .p-cuerpo{
        color: black;
        font-size: 25px;
    }
    .regular-img{
        width:512px;
        height:512px;
    }
}


// .h-titulos{
//     color: red;
//     .p-cuerpo{
//         color: black;

//     }
//     .p-miticos{
//         color: green;
//     }
// }